.dark-layout
  background: rgba(0,0,0,0.6)
  width: 100%
  height: 100%
.light-layout
  background: rgba(255,255,255,0.7)
  width: 100%
  height: 100%

.main-menu
  width: 50%
.wed-logo
  width: 50%


.place
  h3
    line-height: inherit
    padding-bottom: 1em