html {
  font-size: 15px; }

.container {
  width: 100%; }

h1, h2, h3, h4, h5 {
  font-family: "Quicksand", sans-serif;
  font-weight: 700; }

h4 {
  font-size: 18px; }

.brown-text {
  color: #b18013 !important; }

.row {
  margin-bottom: 0; }

.tour_right ul {
  padding: 15px; }

.dark-button {
  color: white;
  background: #2d5d73;
  padding: 0.5em 2em;
  display: inline-block;
  transition-duration: 500ms; }
  .dark-button:hover, .dark-button:active {
    color: white;
    background: rgba(45, 93, 115, 0.8); }

.background-image {
  background-image: url(../images/home-large-image/asia3.jpg);
  position: relative;
  background-size: cover; }

.dark-layout {
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%; }

.light-layout {
  background: rgba(255, 255, 255, 0.8);
  width: 100%;
  height: 100%; }

.image-full-width {
  width: 100%;
  max-width: 100%;
  height: auto; }

.main-menu {
  width: 70%; }

.wed-logo {
  width: 30%; }
  .wed-logo a img {
    width: 257px; }

@media (max-width: 992px) {
  section.affix + section, section.affix-top + section {
    margin-top: 86px; } }

.affix {
  height: 111px; }
  @media (max-width: 992px) {
    .affix {
      display: none; } }

.btn-get-started {
  color: yellow; }
  .btn-get-started-mobile {
    margin: 0 -10%;
    padding: 0 10%;
    border: none; }

.footer .logo {
  text-align: center; }
  .footer .logo img {
    width: 90px; }

@media (max-width: 992px) {
  .tourz-search-1 {
    width: 100%; } }
@media(max-width: 575px) {
  .tourz-search-1 {
    height: 100vh;
    padding-top: 33vh; } }
.tourz-search-1 h1 {
  font-size: 46px;
  margin-bottom: 20px;
  line-height: 1.5em; }
  @media (max-width: 800px) {
    .tourz-search-1 h1 {
      font-size: 30px; } }

.place h3 {
  line-height: inherit;
  padding-bottom: 1em; }

.b_pack {
  margin-bottom: 5px; }

.full-text {
  text-overflow: initial !important;
  white-space: normal !important; }

.inline-block {
  display: inline-block; }

.spe-title-1 p.preheader {
  font-size: 30px;
  margin-bottom: 50px; }

.howItWorks-block {
  background: white;
  position: relative;
  padding: 30px 5px 100px 5px;
  border-radius: 10px;
  border: 2px solid #d2a032;
  box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.3);
  margin-top: 30px; }
@media(max-width: 768px) {
  .howItWorks-block {
    height: auto; } }
  .howItWorks-block img {
    width: 100px;
    position: absolute;
    right: 10px;
    margin-left: -25px;
    bottom: 6px; }
  .howItWorks-block i {
    position: absolute;
    left: 50%;
    margin-left: -25px;
    bottom: 3px;
    font-size: 50px;
    color: #f4364f; }
  .howItWorks-block .number {
    text-align: center;
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    top: -25px;
    left: 50%;
    margin-left: -25px;
    background: linear-gradient(to bottom, #d2a032, #b18013);
    color: white;
    font-size: 30px;
    line-height: 50px; }
  .howItWorks-block h5 {
    display: block;
    text-align: center;
    font-size: 26px; }
    @media (max-width: 1200px) and (min-width: 993px) {
      .howItWorks-block h5 {
        font-size: 20px; } }

.popu-places-home .b_pack h4 {
  text-overflow: unset;
  white-space: normal;
  height: 5em; }

.home-why-block {
  position: relative;
  padding-left: 120px;
  margin: 2em auto; }
  .home-why-block .img-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 90px;
    background: white;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.8); }
    .home-why-block .img-container img {
      width: 100%; }

.wysiwyg-content {
  text-align: left;
  font-size: 14px; }

.b_packages--activity {
  cursor: pointer; }
  .b_packages--activity .v_place_img img {
    filter: brightness(50%); }
  .b_packages--activity.active .v_place_img img {
    filter: none; }
  .b_packages--activity.active .b_pack {
    background: #2ca324;
    color: white; }
  .b_packages--activity:hover .v_place_img img {
    filter: none; }

.application-layout {
  background: #fff;
  padding: 45px 50px 50px 50px;
  border-radius: 5px;
  text-align: center;
  position: relative;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.8); }
  @media (max-width: 768px) {
    .application-layout {
      padding: 1em 0; } }
  .application-layout p {
    font-size: 18px;
    margin-bottom: 0px; }
  .application-layout form {
    position: relative;
    padding: 20px; }
  .application-layout input {
    padding: 10px 10px 10px;
    border: 1px solid #c9c9c9; }
  .application-layout textarea {
    padding: 10px 10px 10px 22px;
    border: 1px solid #c9c9c9;
    height: 100px; }
  .application-layout input[type="submit"] {
    padding: 0px;
    font-size: 18px !important; }
  .application-layout label .tooltipped.material-icons {
    font-size: 1.5em;
    vertical-align: middle;
    padding-left: 8px; }

.material-tooltip {
  background: linear-gradient(to bottom, #d2a032, #b18013); }

.step2-form {
  text-align: left; }
  .step2-form h4 {
    background: #e6e6e6;
    color: #343c42;
    padding: 10px 15px;
    text-transform: uppercase;
    font-size: 15px;
    margin-top: 0px;
    margin-bottom: 0px;
    text-overflow: ellipsis;
    white-space: pre;
    overflow: hidden; }
  .step2-form label span {
    color: #343c42;
    font-weight: 600; }

.q-how-long-visible-slider.noUi-target {
  margin: 20px 0 60px 0; }
  .q-how-long-visible-slider.noUi-target .noUi-connect {
    background: linear-gradient(to bottom, #d2a032, #b18013); }

.m-t-0 {
  margin-top: 0 !important; }

.charts-section {
  padding: 2em 0;
  background: rgba(22, 127, 209, 0.7); }

@media(min-width: 769px) {
  .label-column {
    text-align: right; } }
.chart-label {
  height: 2em; }

.chart-line {
  height: 1.7em;
  margin-bottom: 1em;
  background: linear-gradient(to bottom, #f4364f, #dc2039);
  border-radius: 1em;
  color: white; }

.filter-section {
  padding: 10px; }
  .filter-section .application-layout {
    padding: 0; }
    .filter-section .application-layout form {
      padding: 0; }
    .filter-section .application-layout .container {
      padding-right: 0; }
      @media (max-width: 767px) {
        .filter-section .application-layout .container {
          padding-left: 0;
          padding-bottom: 0; } }
  .filter-section .select-wrapper input.select-dropdown {
    height: 2rem;
    line-height: 2rem; }
  .filter-section .additional-questions-block {
    background: rgba(100, 100, 100, 0.1); }
    @media (max-width: 767px) {
      .filter-section .additional-questions-block {
        margin-bottom: -5px;
        padding-bottom: 5px; } }

.grey-bottom-line {
  border-bottom: 2px solid rgba(100, 100, 100, 0.1);
  padding-bottom: 5px; }

.filter-checkbox label {
  font-size: 1em;
  font-weight: normal; }

.filter-duration label {
  display: block; }
.filter-duration .filter-duration-field {
  display: inline-block;
  width: 60px;
  margin: 0 15px;
  @media(max-width: 870px) and (min-width: 692px); }
.filter-duration.invalid span {
  color: #f4364f; }
.filter-duration.invalid .select-dropdown, .filter-duration.invalid .select-dropdown:focus {
  border-bottom-color: #f4364f;
  color: #f4364f; }

.search-results-section {
  padding-top: 30px; }

.search-tabs-container {
  padding: 0; }
  .search-tabs-container .tab-content {
    background: #f2f1f1; }

.book-tab-inn ul.nav-tabs li {
  margin-right: 4px; }
  .book-tab-inn ul.nav-tabs li a {
    font-size: 22px;
    color: #fff;
    background: #2d5d73;
    padding-left: 2em;
    padding-right: 2em; }
    .book-tab-inn ul.nav-tabs li a:hover {
      background: #f2f1f1;
      border-color: #f2f1f1;
      color: #555555; }
  .book-tab-inn ul.nav-tabs li.active a {
    background: #f2f1f1;
    border-color: #f2f1f1;
    color: #555555; }
    .book-tab-inn ul.nav-tabs li.active a:focus {
      color: #555555;
      background: #f2f1f1;
      border-color: #f2f1f1; }

.book-tab-body {
  padding-bottom: 100px;
  border-radius: 0; }

.b_packages {
  margin-bottom: 10px; }

h4.product-list-name {
  white-space: normal;
  height: 4em; }
  h4.product-list-name a {
    line-height: 0.9em; }
  h4.product-list-name span {
    padding: 0;
    text-transform: capitalize;
    color: #6C6C6C;
    font-weight: 500; }

p.btn-added-to-order {
  font-weight: 700;
  padding: 6px 15px;
  border-radius: 2px;
  font-family: "Quicksand", sans-serif;
  text-decoration: none;
  background: none;
  border: 1px solid #868686;
  font-size: 13px;
  margin-bottom: 0;
  color: #868686; }
  p.btn-added-to-order a {
    display: inline-block !important;
    text-decoration: underline; }

.p2_book ul li a {
  display: inline-block; }

.link-large {
  font-size: 1em;
  text-decoration: underline; }

.margin5 {
  margin-top: 5px;
  margin-bottom: 5px; }

.margin10 {
  margin-top: 10px;
  margin-bottom: 10px; }

.margin20 {
  margin-top: 20px;
  margin-bottom: 20px; }

.margin30 {
  margin-top: 30px;
  margin-bottom: 30px; }

.margin40 {
  margin-top: 40px;
  margin-bottom: 40px; }

.margin50 {
  margin-top: 50px;
  margin-bottom: 50px; }

.margin70 {
  margin-top: 70px;
  margin-bottom: 70px; }

.product-scores ul {
  padding-left: 0px; }
.product-scores li {
  list-style: none;
  position: relative; }
  .product-scores li .name {
    display: inline-block;
    position: absolute;
    left: 0; }
  .product-scores li .line {
    margin-left: 130px;
    display: inline-block;
    background: #a2dd2f;
    height: 1em;
    border-radius: 0 10px 10px 0; }

.products-list-scores ul {
  padding-left: 0px; }
.products-list-scores li {
  margin-bottom: 3px;
  color: #253d52; }
  .products-list-scores li .line {
    background: #a2dd2f;
    height: 22px;
    border-radius: 0 10px 10px 0;
    padding: 0 15px;
    overflow: hidden; }
  .products-list-scores li .number {
    float: right; }

.hot-page2-alp-ri-p2 .place {
  font-weight: bold;
  color: #343c42;
  font-size: 15px;
  margin: 30px 0 0 0; }
.hot-page2-alp-ri-p2 .description-short {
  margin-bottom: 8px;
  font-size: 14px; }

.long-description-block img {
  max-width: 100%;
  height: auto !important; }
@media(max-width: 575px) {
  .long-description-block .table-section {
    overflow-x: scroll;
    margin: 0 -15px; }
    .long-description-block .table-section table {
      min-width: 400px; }
      .long-description-block .table-section table td {
        font-size: 13px;
        padding: 5px 2px;
        line-height: 15px; } }
.gallery-container {
  max-width: 960px; }

.lslide img {
  width: 100%; }

.profile-btns {
  float: right; }
  .profile-btns li {
    float: left;
    display: inline-block; }
    .profile-btns li a {
      color: #fff;
      padding: 7px 12px;
      line-height: 30px;
      font-size: 12px; }
      .profile-btns li a.bright {
        background: linear-gradient(to bottom, #f4364f, #dc2039); }
      .profile-btns li a.medium {
        background: linear-gradient(to bottom, #d2a032, #b18013); }
      .profile-btns li a.dark {
        background: #2d5d73; }

.with-counter {
  position: relative; }
  .with-counter span {
    position: absolute;
    right: -2px;
    bottom: -4px;
    background: #a2dd2f;
    color: white;
    font-size: 12px;
    padding: 2px;
    width: 16px;
    height: 16px;
    line-height: 14px;
    border-radius: 50%;
    text-align: center; }
    @media (max-width: 992px) {
      .with-counter span {
        left: 4em;
        top: 1em; } }

@media (max-width: 767px) {
  .db {
    padding-left: 0px;
    padding-right: 0px; } }

@media (max-width: 767px) {
  .db-2-main-com-table {
    padding: 2px;
    font-size: 12px; }
    .db-2-main-com-table td {
      font-size: 12px;
      line-height: 1em; } }
@media (max-width: 500px) {
  .db-2-main-com-table td, .db-2-main-com-table th {
    font-size: 10px; }
    .db-2-main-com-table td:nth-child(1), .db-2-main-com-table th:nth-child(1) {
      display: none; }
  .db-2-main-com-table a {
    white-space: normal; } }

.db-l-1 {
  padding: 20px; }

a.btn-delete-product {
  background: linear-gradient(to bottom, #f4364f, #dc2039); }

.form-with-labels {
  text-align: left; }
  .form-with-labels label {
    margin-top: 0.7em;
    font-size: 1em;
    color: #253d52; }

.mfp-content {
  max-width: 630px; }

.popup {
  background: white;
  padding: 1em 0;
  margin: 0 auto;
  text-align: center; }

.popup-btn-footer {
  color: #616161; }

h2 span.red-text {
  color: #f4364f;
  font-size: inherit;
  font-weight: 600;
  font-family: "Quicksand", sans-serif; }

h1.red-text {
  color: #f4364f !important;
  font-size: 32px;
  display: inline-block;
  font-weight: 600; }

@media (min-width: 501px) {
  .article-image {
    float: left;
    width: 50%;
    margin: 0 20px 20px 0; } }

.article-paragraph p {
  margin-bottom: 1em;
  font-size: 1.3em;
  line-height: normal; }

.booking-page input[type=text]:not(.browser-default), .booking-page input[type=email]:not(.browser-default), .booking-page input[type=date]:not(.browser-default) {
  height: 2em;
  line-height: 2em;
  margin-bottom: 0; }

.booking-dates-section .modal {
  bottom: auto; }
@media(max-width: 400px) {
  .booking-dates-section .modal {
    width: 95%;
    max-width: inherit; } }
.booking-dates-fields {
  display: inline-block;
  margin-left: 30px;
  height: 25px; }
@media(max-width: 767px) {
  .booking-dates-fields {
    margin-bottom: 20px;
    height: auto; } }
  .booking-dates-fields span {
    display: inline; }
  .booking-dates-fields input.small-line {
    display: inline;
    width: 120px !important;
    padding-left: 10px !important;
    margin-right: 10px !important; }

.label-with-info {
  position: relative; }
  .label-with-info .small {
    position: absolute;
    left: 34px;
    top: 17px;
    width: 190px;
    color: #b18013; }

#b-products-block.invalid label, #b-itineraries-block.invalid label {
  color: #f4364f; }
#b-products-block.invalid .select-dropdown, #b-products-block.invalid .select-dropdown:focus, #b-itineraries-block.invalid .select-dropdown, #b-itineraries-block.invalid .select-dropdown:focus {
  border-bottom-color: #f4364f; }

.tour_head1 h3 {
  background: none;
  padding-left: 0; }

.l-info-pack-days ul li {
  padding-bottom: 25px; }
  .l-info-pack-days ul li h4 {
    margin: 0; }

.l-info-pack-plac a.experience-image {
  display: inline-block;
  float: left;
  width: 30%;
  max-width: 250px;
  margin-right: 1em;
  border: 2px solid #b18013;
  overflow: hidden; }
@media(max-width: 575px) {
  .l-info-pack-plac a.experience-image {
    float: none;
    width: 100%; } }
  .l-info-pack-plac a.experience-image img {
    width: 100%;
    -webkit-transition: 0.4s ease;
    transition: 0.4s ease; }
    .l-info-pack-plac a.experience-image img:hover {
      -webkit-transform: scale(1.08);
      transform: scale(1.08); }

/*# sourceMappingURL=personal.css.map */
