//sections at home page
.background-image
  background-image: url(../images/home-large-image/asia3.jpg)
  position: relative
  background-size: cover

.dark-layout
  background: rgba(0,0,0,0.6)
  width: 100%
  height: 100%
.light-layout
  background: rgba(255,255,255,0.5)
  width: 100%
  height: 100%

//width of menu
.main-menu
  width: 70%
.wed-logo
  width: 30%


.place
  h3
    line-height: inherit
    padding-bottom: 1em

.b_pack
  margin-bottom: 5px

//  quiz
.quiz-question
  position: relative

.btn-quiz-img
  position: absolute
  bottom: 5px
  padding: 10px
  cursor: pointer
  box-shadow: 0px 0px 10px grey
  background: white
  img
    width: 100%
  &.like
    right: 15px
    border-radius: 6px 0
    &:hover
      background: linear-gradient(to bottom, #57b9f4, #4b9cd0)
    &:active
      background: #3c7fa9
  &.dislike
    left: 15px
    border-radius: 0 6px
    &:hover
      background: linear-gradient(to bottom,#f4364f,#dc2039)
    &:active
      background: #ca0d29


//part 2
.application-layout
  //margin: 0 auto
  //width: 50%
  background: #fff
  padding: 45px 50px 50px 50px
  @media (max-width: 768px)
    padding: 0
  margin-bottom: 70px
  border-radius: 5px
  text-align: center
  position: relative
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.8)
  p
    font-size: 18px
    margin-bottom: 0px
  form
    position: relative
    padding: 20px
  input
    padding: 10px 10px 10px
    border: 1px solid #c9c9c9
  textarea
    padding: 10px 10px 10px 22px
    border: 1px solid #c9c9c9
    height: 100px

  input[type="submit"]
    padding: 0px
    font-size: 18px !important

.part2-form
  text-align: left
  h4
    background: #e6e6e6
    color: #343c42
    padding: 10px 15px
    text-transform: uppercase
    font-size: 15px
    margin-top: 0px
    margin-bottom: 0px
    text-overflow: ellipsis
    white-space: pre
    overflow: hidden

  label
    font-size: 15px
    color: #343c42
    font-weight: 600
    padding-left: 30px


.m-t-0
  margin-top: 0 !important


  //results
.charts-section
  padding: 2em 0
  background: rgba(22,127,209,0.7)
.charts-block

.label-column
  @media(min-width: 769px)
    text-align: right

.chart-label
  height: 2em

.chart-column
  //width: 50%
.chart-line
  height: 1.7em
  margin-bottom: 1em
  background: linear-gradient(to bottom,#f4364f,#dc2039)
  border-radius: 1em
  color: white

.b_packages
  margin-bottom: 10px

h4.product-list-name
  //overflow: auto
  white-space: normal
  height: 4em
  a
    line-height: 0.9em
  span
    padding: 0
    text-transform: capitalize
    color: #6C6C6C
    font-weight: 500

.filter-checkbox
  label
    font-size: 1em
    font-weight: normal