$red: #f4364f
$brown: #b18013

//Restore some styles after migration to materialize 1.0.0
html
  font-size: 15px

.container
  width: 100%

h1, h2, h3, h4, h5
  font-family: 'Quicksand', sans-serif
  font-weight: 700

h4
    font-size: 18px
.brown-text
    color: $brown !important
.row
  margin-bottom: 0

.tour_right ul
  padding: 15px

//sections at home page
.background-image
  background-image: url(../images/home-large-image/asia3.jpg)
  position: relative
  background-size: cover

.dark-layout
  background: rgba(0,0,0,0.6)
  width: 100%
  height: 100%

.light-layout
  background: rgba(255,255,255,0.8)
  width: 100%
  height: 100%
.image-full-width
  width: 100%
  max-width: 100%
  height: auto
//width of menu
.main-menu
  width: 70%
.wed-logo
  width: 30%

section.affix,section.affix-top
  ~ section.filter-section, ~ section.booking-page
    @media (max-width: 992px)
      margin-top: 86px

.affix
  height: 111px
  @media (max-width: 992px)
    display: none

.btn-get-started
  color: yellow
  &-mobile
    margin: 0 -10%
    padding: 0 10%
    border: none



.tourz-search-1
  @media (max-width: 992px)
    width: 100%
  @media(max-width: 575px)
    height: 100vh
    padding-top: 33vh
  h1
    font-size: 46px
    @media (max-width: 800px)
      font-size: 30px
    margin-bottom: 20px
    line-height: 1.5em


.place
  h3
    line-height: inherit
    padding-bottom: 1em

.b_pack
  margin-bottom: 5px

.full-text
  text-overflow: initial !important
  white-space: normal !important


.howItWorks
  &-container
  &-block
    background: white
    position: relative
    padding: 30px 5px 100px 5px
    border-radius: 10px
    border: 2px solid #d2a032
    box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.3)

    @media(max-width: 768px)
      height: auto
    margin-top: 30px
    img
      width: 100px
      position: absolute
      right: 10px
      margin-left: -25px
      bottom: 6px
    i
      //position: absolute
      //display: block
      //width: 100%
      //height: 100%
      //left: 0
      //top: 0
      //background: rgba(210,160,50,0.1)
      //color: white
      //font-size: 17em

      position: absolute
      left: 50%
      margin-left: -25px
      bottom: 3px
      font-size: 50px
      color: $red
    .number
      text-align: center
      position: absolute
      width: 50px
      height: 50px
      border-radius: 25px
      top: -25px
      left: 50%
      margin-left: -25px
      background: linear-gradient(to bottom, #d2a032, #b18013)
      color: white
      font-size: 30px
      line-height: 50px
    h5
      display: block
      text-align: center
      font-size: 26px
      @media (max-width: 1200px) and (min-width: 993px)
        font-size: 20px

.home-why
  &-container
  &-block
    position: relative
    padding-left: 120px
    margin: 2em auto
    .img-container
      position: absolute
      left: 0
      top: 0
      width: 90px
      background: white
      border-radius: 10px
      padding: 5px
      box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.8)
      img
        width: 100%
.wysiwyg-content
  text-align: left
  font-size: 14px
//  quiz
//.quiz-question
//  position: relative
//
//.btn-quiz-img
//  position: absolute
//  bottom: 5px
//  padding: 10px
//  cursor: pointer
//  box-shadow: 0px 0px 10px grey
//  background: white
//  img
//    width: 100%
//  &.like
//    right: 15px
//    border-radius: 6px 0
//    &:hover
//      background: linear-gradient(to bottom, #57b9f4, #4b9cd0)
//    &:active
//      background: #3c7fa9
//  &.dislike
//    left: 15px
//    border-radius: 0 6px
//    &:hover
//      background: linear-gradient(to bottom,#f4364f,#dc2039)
//    &:active
//      background: #ca0d29

//quiz 1
.b_packages--activity
  cursor: pointer
  .v_place_img
    img
      filter: brightness(50%)
  &.active
    .v_place_img
      img
        filter: none
    .b_pack
      background: #2ca324
      color: white
  &:hover
    .v_place_img
      img
        filter: none




//part 2
.application-layout
  //margin: 0 auto
  //width: 50%
  background: #fff
  padding: 45px 50px 50px 50px
  @media (max-width: 768px)
    padding: 0
  border-radius: 5px
  text-align: center
  position: relative
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.8)
  p
    font-size: 18px
    margin-bottom: 0px
  form
    position: relative
    padding: 20px
  input
    padding: 10px 10px 10px
    border: 1px solid #c9c9c9
  textarea
    padding: 10px 10px 10px 22px
    border: 1px solid #c9c9c9
    height: 100px

  input[type="submit"]
    padding: 0px
    font-size: 18px !important

  label
    .tooltipped
      &.material-icons
        font-size: 1.5em
        vertical-align: middle
        padding-left: 8px

//materialize tooltip
.material-tooltip
  background: linear-gradient(to bottom, #d2a032, #b18013)
  //background: #253d52
  .backdrop


.step2-form
  text-align: left
  h4
    background: #e6e6e6
    color: #343c42
    padding: 10px 15px
    text-transform: uppercase
    font-size: 15px
    margin-top: 0px
    margin-bottom: 0px
    text-overflow: ellipsis
    white-space: pre
    overflow: hidden

  label
    span
      color: #343c42
      font-weight: 600

.q-how-long-visible-slider.noUi-target
  margin: 20px 0 60px 0
  .noUi-connect
    background: linear-gradient(to bottom, #d2a032, #b18013)

.m-t-0
  margin-top: 0 !important


  //results
.charts-section
  padding: 2em 0
  background: rgba(22,127,209,0.7)
.charts-block

.label-column
  @media(min-width: 769px)
    text-align: right

.chart-label
  height: 2em

.chart-column
  //width: 50%
.chart-line
  height: 1.7em
  margin-bottom: 1em
  background: linear-gradient(to bottom,$red,#dc2039)
  border-radius: 1em
  color: white

.filter-section
  .dark-layout
    padding: 10px
  .application-layout
    padding: 0
    //background: linear-gradient(to bottom,#f2f9ff,#e1e4e8)

.filter-checkbox
  label
    font-size: 1em
    font-weight: normal

.filter-duration
  label
    display: block
  .filter-duration-field
    display: inline-block
    width: 60px
    margin: 0 15px
    @media(max-width: 870px) and (min-width: 692px)
      margin: 0 5px
      width: 40px
  //rewrite materialize selectbox styles
  &.invalid
    span
      color: $red
    .select-dropdown, .select-dropdown:focus
      border-bottom-color: $red
      color: $red



.b_packages
  margin-bottom: 10px

h4.product-list-name
  //overflow: auto
  white-space: normal
  height: 4em
  a
    line-height: 0.9em
  span
    padding: 0
    text-transform: capitalize
    color: #6C6C6C
    font-weight: 500

p.btn-added-to-order
  font-weight: 700
  padding: 6px 15px
  border-radius: 2px
  font-family: 'Quicksand', sans-serif
  text-decoration: none
  //color: #fff !important
  //background: linear-gradient(to bottom,#f4364f,#dc2039)
  background: none
  border: 1px solid #868686
  font-size: 13px
  margin-bottom: 0
  color: #868686
  a
    display: inline-block !important
    text-decoration: underline
    //color: #fff
.p2_book ul li a
  display: inline-block

.link-large
  font-size: 1em
  text-decoration: underline

.margin5
  margin-top: 5px
  margin-bottom: 5px

.margin10
  margin-top: 10px
  margin-bottom: 10px

.margin20
  margin-top: 20px
  margin-bottom: 20px

.margin30
  margin-top: 30px
  margin-bottom: 30px

.margin40
  margin-top: 40px
  margin-bottom: 40px

.margin50
  margin-top: 50px
  margin-bottom: 50px
.margin70
  margin-top: 70px
  margin-bottom: 70px

.product-scores
  ul
    padding-left: 0px
  li
    list-style: none
    position: relative

    .name
      //width: 130px
      display: inline-block
      position: absolute
      left: 0
    .line
      margin-left: 130px
      display: inline-block
      background: #a2dd2f
      height: 1em
      border-radius: 0 10px 10px 0

.products-list-scores
  ul
    padding-left: 0px
  li
    margin-bottom: 3px
    color: #253d52
    .line
      background: #a2dd2f
      height: 22px
      border-radius: 0 10px 10px 0
      padding: 0 15px
      overflow: hidden
    .number
      float: right

.long-description-block
  img
    max-width: 100%
    height: auto !important
.gallery-container
  max-width: 460px

.profile-btns
  float: right
  li
    float: left
    display: inline-block
    a
      color: #fff
      //color: #253d52
      padding: 7px 12px
      line-height: 30px
      font-size: 12px
      &.bright
        background: linear-gradient(to bottom,$red,#dc2039)
        //background: none
      &.medium
        background: linear-gradient(to bottom, #d2a032, #b18013)
        //background: none
      &.dark
        background: #2d5d73
        //background: none
.with-counter
  position: relative
  span
    position: absolute
    right: -2px
    bottom: -4px
    background: #a2dd2f
    color: white
    font-size: 12px
    padding: 2px
    width: 16px
    height: 16px
    line-height: 14px
    border-radius: 50%
    text-align: center
    @media (max-width: 992px)
      left: 4em
      top: 1em

.db-2
  width: 68% !important

.db-l-1
  padding: 20px


a.btn-delete-product
  background: linear-gradient(to bottom,$red,#dc2039)

.form-with-labels
  text-align: left
  label
    margin-top: 0.7em
    font-size: 1em
    color: #253d52



// Magnific Pop up
.mfp-content
  max-width: 630px
.popup
  background: white
  padding: 1em 0
  margin: 0 auto
  text-align: center

.popup-btn-footer
  color: #616161

h2 span.red-text
  color: $red
  font-size: inherit
  font-weight: 600
  font-family: 'Quicksand', sans-serif

h1.red-text
  color: $red !important
  font-size: 32px
  display: inline-block
  font-weight: 600

.article-image
  @media (min-width: 501px)
    float: left
    width: 50%
    margin: 0 20px 20px 0

.article-paragraph
  p
    margin-bottom: 1em
    font-size: 1.3em
    line-height: normal


//Products List
.container--products-list
  padding: 100px 0
  @media(max-width: 768px)
    padding: 10px 0



//booking page
.booking-page
    input[type=text]:not(.browser-default), input[type=email]:not(.browser-default)
        height: 2em
        line-height: 2em

.booking-dates-section
    .modal //try rewrite bootstrap .modal by materialize .modal attributes
        bottom: auto
.booking-dates-fields
    display: inline-block
    margin-left: 30px
    height: 25px

    span
        display: inline
    input
        display: inline
        width: 100px !important
        padding-left: 10px !important
        margin-right: 10px !important


.label-with-info
    position: relative
    .small
        position: absolute
        left: 34px
        top: 17px
        width: 190px
        color: $brown

#b-products-block.invalid
    label
        color: $red
    .select-dropdown, .select-dropdown:focus
        border-bottom-color: $red
